/* LAVORO SUL BODY */
body{
  height: 100vh;
  background-image: linear-gradient(to bottom, #222, #000);
}

/* LAVORO SULLE SCROLLBARS DELLA PAGINA*/
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(178, 178, 178); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(178, 178, 178); 
}

/* lAVORO SULLA SIDEBAR DI SINISTRA */
#offcanvasScrolling{
  width: 20vw;
}

.sidebar-logo{
  width: 25px;
}

#sidebarPlaylistList{
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebarPlaylistList li{
  font-size: 1.2rem;
}

header i {
  color: rgb(178, 178, 178);
}

#offcanvasScrolling{
  background-color: rgb(0, 0, 0);
  color: rgb(178, 178, 178);
  height: 100vh;
}

#offcanvasScrolling .offcanvas-body{
  overflow: auto;
  max-height: 60vh;
}

/* LAVOROS SULLA SIDEBAR DI DESTRA */
.right-sidebar{
  min-width: 13vw;
  height: 100vh;
}

.right-sidebar{
  background-color: rgb(0, 0, 0);
  color: rgb(178, 178, 178);
}

.page{
  overflow: auto;
  max-height: 100vh;
}

.small-sidebar-right{
  font-size: 0.7rem;
}

#rightSidebarOpenerContainer{
  right: 20px;
}

#rightSidebar{
  z-index: 20;
}

/* LAVORO AL MAIN */
main{
  overflow: auto;
  background-color: rgb(28, 28, 28);
  color: white;
  margin-left: 20vw;
}

/* LAVORO NEL CONTENITORE IN CUI CI SONO LE FRECCIE ED IL DROPDOWN DELL'UTENTE */
#dropdownUserName{
  width: 95px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

#dropdownUser{
  min-width: 130px;
}

#dropdown, #freccie, #rightSidebarOpenerContainer{
  z-index: 10;
}


/* LAVORO SUL JUMBOTRON */
.titolo-jumbotron{
  font-size: 3rem;
}

/* LAVORO NELLE CARD NEL CONENITORE BUONASERA */
#buonaseraContainer .card{
  min-width: 350px;
}
#buonaseraContainer .card .col-2 img{
  width: 100%;
  height: 100%;
}

.card-body{
  min-height: 80px;
}

.card-title{
  max-width: 230px;
}
/********************/
/*FOOTER (PLAY, ECC)*/
/********************/
/*seleziona l'intero footer*/
#footer{
  min-height: 5.5rem;
  background-color: #181818;
  color: #BABABA;
}
/*----------*/
/*seleziona la finta barra progresso canzone*/
div.progress.w-50{
  margin-top: 0.4em;
  max-height: 4px;
  background-color: rgba(255, 255, 255, 0.4);
}
/*----------*/
/*seleziona tutte le icone*/
footer >div >div i{
  font-size: 1.5em;
} 
/*----------*/
/*seleziona solo le icone verdi*/
footer >div.col-8 >div i:first-child, footer >div.col-8 >div i:last-child{
  color: rgb(31, 167, 78);
}
/*----------*/
/*seleziona le icone della parte destra*/
footer >div:last-child i{
  font-size: 1.2em;
}
/*----------*/
/*seleziona solo l'icona del volume(perchè veniva piccola)*/
footer >div:last-child i.bi-volume-down{
  font-size: 2em;
}
/*----------*/
/*seleziona la barra volume delle icone a dx*/
#sound_indicator{
  background-color: #FFFFFF;
  border-radius: 15px;
  height: 0.2em;
  width: 4.5em;
}
/*----------*/
/*seleziona la parte bianca della finta barra progresso iniziale*/
footer >div >div >div.progress >div{
  background-color: #FFFFFF;
  height: 100%;
  width: 35%;
  border-radius: 15px;
}

/* LAVORO SULLA CARD */

.card{
  background-color: #171717;
}

.card-text{
  color: rgb(178, 178, 178);
}

.card-title{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* LAVORO SUL MODALE */
.modal-content{
  background-color: black;
  color: white;
}

/* LAVORO SU PAGINA ARTISTA */
.custom-jumbotron {
  
  background-size: cover;
  background-position: center;
  color: white;
  width: 80vw;

 }

.icon-blue {
  color: #68a9ef; 
  font-size: 22px;
}

.icon-play {
  color: #57be55; 
  font-size: 50px;
  cursor: pointer;
}

.icon-dots {
  color: #cacaca; 
  font-size: 20px;
}

.icon {
  font-size: 2rem;
  transition: color 0.3s, transform 0.3s;
  
}

.icon-play:hover {
  color: #f7f7f7; 
  transform: scale(1.1); 
}
/*********************************/
.button_casual{
  background-color: #f7f7f7;
   border-radius: 5em;
}
.text-white.button_casual{
   background-color:  rgb(28, 28, 28);
}
.text-white.button_casual:hover{
  background-color: rgb(53, 53, 53);
  border-radius: 25em;
}
.button_casual i {
 font-size: 1.3em;
}

.button_casual:hover{
  background-color: rgb(217, 217, 217);
  scale: 1.01;
  cursor: pointer;
}

/*CSS mihajlo*/
.main-container{
  height: 100%;
  width: 100%;
  position: relative;
}
.container-album{
  display: flex;
  justify-content: center;
  height: 60%;
  background-image: linear-gradient(to bottom, rgb(228, 196, 82), rgba(204, 174, 71));
}
.card-album{
  width: 60%;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  margin-top: 4%;
}
.img-card-album{
  width: 100%;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
}

.container-tracks{
  position: absolute;
  bottom: -20%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
  height: 75%;
  width: 100%;
  color: rgb(245, 245, 245);
}
.icons-container{
  display: flex;
  justify-content: center;
  gap: 22px;
  width: 52%;
  padding: 4px 0;
  margin: 20px 0;
  font-size: 30px;
}
.play-icon-container{
  width: 40px;
  background-color: rgb(30, 215, 96);
  border-radius: 100%;
  text-align: center;
  color: rgb(0, 0, 0);
}
#table-container{
  display: flex;
  justify-content: center;
}
.table-tracks{
  width: 920px;
}
.table-tracks th, .table-tracks td{
  padding-right: 30px;
}

.sm-track-list{
  display: flex;
  flex-direction: column;
}

.sm-btn-track-list{
  color: rgb(245, 245, 245);
  background-color: transparent;
}
/* Animazione per lo schermo di grandi dimensioni*/
@keyframes shrinkLG {
  from {
      width: 640px;
  }
  to {
      width: 920px;
  }
}

/* Animazione per lo schermo di medie dimensioni*/
@keyframes shrinkMD {
  from {
      width: 920px;
  }
  to {
      width: 640px;
  }
}

@media (max-width: 768px) {
  /*smartphone*/
}

#listaCanznoniArtista{
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1400px) {
  #listaCanznoniArtista{
    width: 800px;
  }
}

.card-text{
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .prova{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}